In [2]:

# Importing Libraries
import pandas as pd
import numpy as np
# Visualization Libraries
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# Ignore all warnings
import warnings
warnings.filterwarnings('ignore')

In [7]:
import pandas as pd

# Example DataFrame
data = {
    'Restaurant Name': ['Burger Palace', 'Pizza Town', 'Sushi World'],
    'Address': ['123 Main St', '456 Elm St', '789 Oak St']
}
df = pd.DataFrame(data)

# Add length columns
df['Restaurant Name Length'] = df['Restaurant Name'].apply(len)
df['Address Length'] = df['Address'].apply(len)

print(df.head())

  Restaurant Name      Address  Restaurant Name Length  Address Length
0   Burger Palace  123 Main St                      13              11
1      Pizza Town   456 Elm St                      10              10
2     Sushi World   789 Oak St                      11              10

What did i found from the level 2 (task 3)?
Two new columns added, 'Restaurant Name length' and 'Address Length' from the length of the restaurant name or address
Also two new binary column added by encoding categorical variables, 'Has Table booking' and 'Has Online delivery'